#header {
  width: 100%;
  background: var(--color-primary);
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem;
  &__links {
    list-style: none;
    display: flex;
  }
  &__item:not(:last-of-type) {
    margin-right: 1rem;
  }
}
