@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");
:root {
  --color-primary-light: #6e2db0;
  --color-primary: #3b185f;
  --color-primary-dark: #2a1144;
  --color-secondary-light: #d54693;
  --color-secondary: #a12568;
  --color-secondary-dark: #5c153b;
  --color-light: #f7f7f7;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

input {
  font-size: inherit !important;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: navajowhite !important;
  transition: all 0.5s !important;
}

a:hover {
  transform: scale(0.94) !important;
}

.section {
  width: 100% !important;
  padding: 4rem 10rem !important;
}

.ad {
  background-color: rgba(235, 235, 235, 0.527);
}

.ad figure {
  position: relative;
  background-color: var(--color-tertiary-light);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45rem, 1fr));
  padding: 4rem;
  border-radius: 5px;
}

.illustration {
  width: 40rem;
  height: 20rem;
  top: 0;
  left: 10rem;
  position: relative;
}

/* input {
  padding: 1.6rem !important;
} */
.checks {
  list-style: decimal !important;
  /* display: flex;
  align-items: center; */
}

.mb {
  margin-bottom: 7rem;
}

h2 {
  font-weight: 600;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.btn {
  border-radius: 100px;
  padding: 0.5rem 1.6rem;
}

.btn-primary {
  font-size: 1.6rem;
  background-color: var(--color-primary-light) !important;
  border-color: var(--color-primary-light) !important;
  color: var(--color-light);
}

.btn-primary:hover {
  background-color: var(--color-secondary-light) !important;
  border-color: var(--color-secondary-light) !important;
}

.btn-outline-primary {
  font-size: 1.6rem;
  border-color: var(--color-primary-light) !important;
  color: var(--color-primary-light) !important;
}

.btn-outline-light {
  font-size: 1.6rem;
}

.btn-outline-primary:hover {
  border-color: var(--color-secondary-light) !important;
  background-color: var(--color-secondary-light) !important;
  color: white !important;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

.cities__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  margin: 4rem 0;
}

.cities__item {
  height: 20rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.315);
  background-blend-mode: darken;
  filter: saturate(160%);
  padding: 1rem;
}

.cities__item--tangier {
  background-image: url("/public/images/tangier.jpg") !important;
}

.cities__item--fes {
  background-image: url("/public/images/fes-2.jpg") !important;
}

.cities__item--agadir {
  background-image: url("/public/images/agadir-2.jpg") !important;
}

.cities__item--casablanca {
  background-image: url("/public/images/casablanca.jpg") !important;
}

.cities__item--oujda {
  background-image: url("/public/images/oujda.jpg") !important;
}

.cities__item--rabat {
  background-image: url("/public/images/rabat.jpg") !important;
}

.cities__item--agadir {
  background-image: url("/public/images/agadir-2.jpg") !important;
}

.cities__item--marrakesh {
  background-image: url("/public/images/marrakesh-1.jpg") !important;
}

.cities__item--laayoune {
  background-image: url("/public/images/laayoune-1.jpg") !important;
}

.cities__item--title {
  color: black !important;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
}

.footer {
  background-color: var(--color-primary);
  padding: 3rem 0 0 0;
  color: white;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.container > *:not(:last-child) {
  margin-bottom: 2rem;
}

.newsletter {
  display: flex;
  align-items: stretch;
}

.form {
  width: 40%;
  margin: 7rem auto;
  box-shadow: 2px 2px 20px rgba(99, 98, 98, 0.226);
  padding: 2rem;
}

.form h2 {
  margin-bottom: 2rem;
}

.form__hero input {
  /* height: 2rem; */
}

.form__control {
  width: 100%;
  display: flex;
}

.form__control > * {
  width: 100%;
  margin-right: 1rem;
}

#header {
  width: 100%;
  background: var(--color-primary);
  padding: 1.5rem 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem;
}
.nav__links {
  list-style: none;
  display: flex;
}
.nav__item:not(:last-of-type) {
  margin-right: 1rem;
}

.figure__hero {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.253)), url("/public/images/hero.jpg");
  background-position: bottom;
  background-size: cover;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.form__hero {
  min-width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.336);
  padding: 1.2rem;
  border-radius: 3px;
}

.profile {
  background-color: rgba(255, 255, 255, 0.534);
  padding: 10rem 4rem;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.profile__list {
  flex-basis: 30%;
  list-style: none;
}

.profile__items {
  border-top: 1px solid rgba(105, 104, 104, 0.24);
}

.profile__items:last-child {
  border-bottom: 1px solid rgba(105, 104, 104, 0.24);
}

.profile__links {
  display: block;
  padding: 2rem;
  text-decoration: none;
}

.profile__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.profile__container a,
.profile__container button {
  padding: 1rem;
  text-decoration: none;
  display: block;
  text-align: center;
}

.profile__container > * {
  width: 70%;
  margin-bottom: 10rem;
}

.profile__container > * > .form-backend_btn {
  display: inline-block;
  width: 20rem;
  float: right;
}

.profile__container > * > * {
  width: 100%;
}

.profile__form__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  align-items: space-between;
}

.profile__form__box input,
.profile__form__box select {
  padding: 1rem;
  border-radius: 3px;
  outline: none;
  border: none;
  border: 1px solid rgba(105, 104, 104, 0.24);
  margin-top: 0.8rem;
}

.profile__form__box input:focus,
.profile__form__box select:focus {
  outline: 1px solid rgba(105, 104, 104, 0.24);
}

.profile--active {
  font-weight: 700;
  color: black;
}

.upload-photo__photo {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}

.upload-photo__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-photo__figure > *:not(:last-child) {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
